/* 首页样式 */
.main {
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}
.focus {
    position: relative;
    width: 721px;
    height: 455px;
    background-color: #bfa;
    overflow: hidden;
}
.focus ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 600%;
}
.focus ul li {
    float: left;
}
.arrow-l,
.arrow-r {
    position: absolute;
    top:207px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    display: none;
    z-index: 2;
}
.focus i {
    line-height: 40px;
    color: #fff;
}
.arrow-r {
    right: 0;
}
.focus ol {
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.focus ol li {
    float: left;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}
.current {
    background-color: #fff;
    box-shadow:
}

.newsflash {
    width: 250px;
    height: 455px;
}
.news {
    height: 163px;
    border: 1px solid #ccc;
}
.news-hd {
    height: 32px;
    border-bottom: 1px dotted #e8e8e7;
    padding: 0 15px;
    font-size: 14px;
    line-height: 32px;
}
.news-hd a {
    float: right;
    font-size: 12px;
}
.news-bd {
    padding: 10px 0 0 15px;
}
.news-bd li {
    height: 23px;
}
.news-bd li span {
    font-weight: bold;
    margin-right: 5px;
}
.lifeservice {
    height: 208px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lifeservice li a {
    display: block;
    /* 解决 i 引起的 外边距塌陷合并的问题 */
    overflow: hidden;
    height: 100%;
}
.lifeservice li p {
    text-align: center;
}
.hot {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 15px;
    background: url(../img/jian.jpg) no-repeat; 
}
.service_ico {
    display: block;
    width: 24px;
    height: 24px;
    background:url(../img/icons.png) no-repeat;
    margin: 10px auto;
}
.service_ico_huafei {
    background-position: -17px -16px;
}
.service_ico_feiji {
    width: 26px;
    background-position: -78px -16px;
}
.service_ico_dianying {
    background-position: -140px -16px;
}
.service_ico_youxi {
    background-position: -205px -16px;
}
.service_ico_caipiao {
    background-position: -17px -88px;
}
.service_ico_jiayou {
    background-position: -78px -87px;
}
.service_ico_jiudian {
    background-position: -141px -87px;
}
.service_ico_huoche {
    background-position: -205px -87px;
}
.service_ico_zhongchou {
    background-position: -17px -159px;
}
.service_ico_licai {
    background-position: -78px -159px;
}
.service_ico_lipin {
    background-position: -140px -159px;
}
.service_ico_baitiao {
    background-position: -206px -159px;
}
.bargain {
    height: 75px;
    margin-top: 5px;
}

/* 推荐模块 */
.recommend {
    height: 163px;
    background-color: pink;
    margin-top: 10px;
}
.recom-hd {
    width: 200px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}
.recom-hd img {
    margin: 30px 0 10px 0;
}
.recom-hd h3 {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}
.recom-bd {
    width: 1000px;
    height: 163px;
    background-color: #ebebeb;
}
.recom-bd li {
    float: left;
    width: 249px;
    height: 145px;
    border-right: 1px solid #ccc;
    margin-top: 10px;
}
.recom-bd .last {
    border-right: 0;
}
/* floor楼层区 */
.box-hd {
    height: 30px;
    border-bottom:2px solid #c81623;
    margin-top: 25px;
}
.box-hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}
.tab-list {
    float: right;
    line-height: 30px;
}
.tab-list li {
    float: left;
}
.tab-list li a {
    margin:0 15px;
}
.box-bd {
    height: 360px;
}
.box-bd li {
    overflow: hidden;
}
.box-bd img {
    transition: all 0.5s;
}
.box-bd img:hover {
    margin-left: 10px;
}
.w209 {
    width: 209px;
    background-color: #f9f9f9;
}
.w329 {
    width: 329px;
}
.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
}
.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
}
.tab-con-item {
    border-bottom: 1px solid #ccc;
}
.tab-con li {
    float: left;
    height: 360px;
}
.tab-con-list {
    overflow: hidden;
    margin-bottom: 15px;
}
.tab-con-list li {
    width: 86px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-left: 12px;
}

.gongying {
    height: 65px;
    background-color: #f7f7f7;
    margin: 20px 0 28px 0;
}
.gongying li {
    float: left;
    width: 119px;
    height: 40px;
    margin:13px 0;
    border-right: 1px dotted #e8e8e7;
}

/* 电梯导航 */
.flexdtool {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
    background-color: #fff;
}
.flexdtool li {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.flexdtool .current {
    background-color: #c81623;
    color: #fff;
}